<launch>
  <include file="$(find delivery_robot_sample)/launch/controller.launch" />
  <include file="$(find delivery_robot_sample)/launch/navigation.launch" />
  <include file="$(find delivery_robot_sample)/launch/commander.launch" />
  <!-- <include file="$(find delivery_robot_sample)/launch/rviz_for_navigation.launch" /> 
  <include file="$(find delivery_robot_sample)/launch/img_proc.launch" />  -->
  <!-- <include file="$(find delivery_robot_sample)/launch/twugo_method.launch" /> -->
  <include file="$(find delivery_robot_sample)/launch/goto_method.launch" />
  <include file="$(find delivery_robot_sample)/launch/planner.launch" />
</launch>
